@import "./base/mixins";
@import "./base/variables";
@import "./components/header";
@import "./components/banner";
@import "./components/product";
@import "./components/slider";
@import "./components/textCarousel";
@import "./components/inspiration";
@import "./components/faq";
@import "./components/singleBanner";
@import "./components/contactShop";
@import "./components/popup";
@import "./components/popupCookiesBar";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
}

body {
  font-family: "Poppins";
}
