@import "./base/mixins";
@import "./base/variables";
@import "./components/header";
@import "./components/banner";
@import "./components/product";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
}

body {
  font-family: "Poppins";
}
