@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.header__information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  background: #000000;
  text-align: center;
}
.header__information .header__address,
.header__information .header__phone {
  padding: 5px 20px;
  cursor: pointer;
}
.header__information .header__address a,
.header__information .header__phone a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.header__information .header__address:hover,
.header__information .header__phone:hover {
  cursor: pointer;
}
.header__information .icon__arrow {
  cursor: pointer;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-align: center;
  font-size: 32px;
  font-family: "Lora";
  font-weight: 500;
  padding: 1px;
  cursor: pointer;
}

.header__logo--top-left {
  align-items: flex-start;
  justify-content: flex-start;
}

.header__logo--top-center {
  align-items: flex-start;
  justify-content: center;
}

.header__logo--top-right {
  align-items: flex-start;
  justify-content: flex-end;
}

.header__logo--middle-left {
  align-items: center;
  justify-content: flex-start;
}

.header__logo--middle-center {
  align-items: center;
  justify-content: center;
}

.header__logo--middle-right {
  align-items: center;
  justify-content: flex-end;
}

.header__logo--bottom-left {
  align-items: flex-end;
  justify-content: flex-start;
}

.header__logo--bottom-center {
  align-items: flex-end;
  justify-content: center;
}

.header__logo--bottom-right {
  align-items: flex-end;
  justify-content: flex-end;
}

.icon__arrow {
  display: none;
}

.active {
  display: block;
}

.hide {
  display: none;
}

@media (max-width: 1919px) {
  .header__logo {
    font-size: 32px;
  }
}
@media (max-width: 1440px) {
  .header__logo {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .header__logo {
    font-size: 28px;
  }
  .icon__arrow {
    color: #ffffff;
    display: block;
    align-items: center;
    margin: 10px;
  }
  .turn__off {
    display: none;
  }
  .turn__on {
    display: block;
  }
  .header__information a {
    font-size: 16px;
  }
}
@media (max-width: 391px) {
  .header__logo {
    font-size: 26px;
  }
  .icon__arrow {
    color: #ffffff;
    display: block;
    align-items: center;
    margin: 10px;
  }
  .turn__off {
    display: none;
  }
  .turn__on {
    display: block;
  }
  .header__information a {
    font-size: 14px;
  }
}
.banner {
  height: 1080px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}
.banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.banner__content {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  font-family: "Lora";
  margin-top: 30px;
}
.banner__content h1 {
  font-family: "Lora";
  font-size: 72px;
  font-weight: 400;
  color: #ffffff;
  width: 360px;
  margin: 0 20px;
}
.banner__content h4 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-left: 20px;
  margin-top: 24px;
  font-family: Poppins;
}
.banner__content__title {
  cursor: pointer;
  margin-top: 30px;
}
.banner__content__title p {
  display: inline;
  border-bottom: 2px solid #ffffff;
  font-size: 16px;
  color: #ffffff;
  font-family: Poppins;
}

.banner--top-left {
  align-items: flex-start;
  justify-content: flex-start;
}

.banner--top-center {
  align-items: flex-start;
  justify-content: center;
}

.banner--top-right {
  align-items: flex-start;
  justify-content: flex-end;
}

.banner--middle-left {
  align-items: center;
  justify-content: flex-start;
}

.banner--middle-center {
  align-items: center;
  justify-content: center;
}

.banner--middle-right {
  align-items: center;
  justify-content: flex-end;
}

.banner--bottom-left {
  align-items: flex-end;
  justify-content: flex-start;
}

.banner--bottom-center {
  align-items: flex-end;
  justify-content: center;
}

.banner--bottom-right {
  align-items: flex-end;
  justify-content: flex-end;
}

@media (max-width: 1919px) {
  .banner {
    height: 900px;
  }
  .banner__content h1 {
    font-size: 62px;
    line-height: 84px;
  }
}
@media (max-width: 1440px) {
  .banner {
    height: 800px;
  }
  .banner__content h1 {
    font-size: 60px;
  }
}
@media (max-width: 768px) {
  .banner {
    height: 700px;
  }
  .banner__content h1 {
    font-size: 56px;
    line-height: 80px;
  }
}
@media (max-width: 391px) {
  .banner {
    height: 600px;
  }
  .banner__content {
    margin-bottom: 28px;
  }
  .banner__content h1 {
    font-size: 56px;
    line-height: 76.8px;
    margin-bottom: -8px;
  }
  .banner__content h4 {
    font-size: 18px;
    line-height: 30px;
    margin: 20px;
    margin-left: 22px;
  }
}
.product__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.product__menu__left h1 {
  font-size: 36px;
  font-family: "Lora";
  font-weight: 400;
  line-height: 48px;
  margin: 0;
}
.product__menu__right {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 42px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.product__menu__title {
  cursor: pointer;
  font-weight: 400;
  color: black;
}
.product__menu__title.selected {
  border-bottom: 2px solid #000;
}

.none {
  display: none;
}

.product__gird__list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.product__gird {
  cursor: pointer;
  margin: 0 13%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
}
.product__gird .productions:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}
.product__gird .productions__gird__first {
  grid-column-start: 1;
  grid-column-end: 3;
}
.product__gird .productions__gird__last {
  grid-column-start: 3;
  grid-column-end: 5;
}

.productions {
  position: relative;
  margin-bottom: 12px;
}
.productions .product__price__all {
  display: flex;
  gap: 10px;
}
.productions .product__price__all .product__price__new {
  color: red;
}
.productions .product__price__all .product__price__old {
  text-decoration: line-through;
}
.productions .product__price__all .product__price,
.productions .product__price__all .product__price__new,
.productions .product__price__all .product__price__old {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.5px;
  text-align: left;
}
.productions .product__image {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.productions .category {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  margin-top: 10px;
}
.productions .product__name {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 25.88px;
  text-align: left;
  margin: 5px 0;
}
.productions .voucher {
  position: absolute;
  top: 2%;
  left: 3%;
  color: #ffffff;
  font-size: small;
  font-family: Poppins;
  text-align: start;
}
.productions .voucher__sell {
  background: #000000;
  padding: 2px 12px;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  margin: 0;
}
.productions .voucher__new {
  background: #054e4a;
  padding: 2px 10px;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  display: inline-flex;
}
.productions .voucher .product__voucher {
  position: absolute;
  top: 8px;
  background: #a42003;
  display: inline;
  padding: 10px;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
}

@media (max-width: 1440px) {
  .product__menu__title {
    font-size: 14px;
  }
}
@media (max-width: 1200px) {
  .productions {
    margin-bottom: 0;
  }
  .productions .product__image {
    width: 100%;
    height: 70%;
    object-fit: cover;
  }
  .productions .category {
    font-size: 12px;
    line-height: 10px;
    margin-top: 8px;
  }
  .productions .product__name {
    font-size: 14px;
    line-height: 16px;
    margin: 6px 0;
  }
  .productions .product__price__all .product__price,
  .productions .product__price__all .product__price__new,
  .productions .product__price__all .product__price__old {
    font-size: 14px;
    line-height: 20px;
  }
  .productions .voucher__sell, .productions .voucher__new,
  .productions .voucher .product__voucher {
    font-size: 10px;
  }
  .productions .voucher .product__voucher {
    padding: 6px;
  }
}
@media (max-width: 900px) {
  .product__menu__left h1 {
    font-size: 20px;
    line-height: 44px;
  }
  .product__menu__right {
    gap: 20px;
    font-size: 16px;
  }
  .product__menu__title {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .product__menu {
    display: flex;
    flex-direction: column;
  }
  .product__menu__left h1 {
    font-size: 30px;
    line-height: 42px;
  }
  .product__menu__right {
    gap: 20px;
    margin: 20px;
  }
  .product__menu__title {
    font-size: 14px;
  }
  .product__gird__list .product__gird {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 1%;
  }
  .product__gird__list .product__gird .productions .product__image {
    width: 100%;
    height: 80%;
  }
  .product__gird__list .product__gird .productions:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .product__gird__list .product__gird .productions__gird__first {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .product__gird__list .product__gird .productions__gird__last {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .product__gird__list .product__gird .productions .voucher__sell, .product__gird__list .product__gird .productions .voucher__new,
  .product__gird__list .product__gird .productions .voucher .product__voucher {
    font-size: 16px;
  }
  .product__gird__list .product__gird .productions .voucher .product__voucher {
    padding: 6px;
  }
}
@media (max-width: 391px) {
  .product__title__all {
    margin-top: 28px;
  }
  .product__menu__left h1 {
    letter-spacing: -1px;
  }
  .product__menu__right {
    gap: 32px;
    margin-top: 22px;
    margin-bottom: 22px;
  }
  .product__menu__right span {
    font-size: 16px;
  }
  .product__menu__title:last-child {
    display: none;
  }
  .product__gird__list .product__gird {
    margin: 4%;
  }
  .product__gird__list .product__gird .productions {
    margin-bottom: 14px;
  }
  .product__gird__list .product__gird .productions .product__image {
    width: 100%;
    height: 71%;
  }
  .product__gird__list .product__gird .productions .category {
    font-size: 14px;
    line-height: 10px;
    margin-top: 13px;
  }
  .product__gird__list .product__gird .productions .product__name {
    font-size: 16px;
    line-height: 16px;
    margin: 14px 0;
  }
  .product__gird__list .product__gird .productions .product__price__all .product__price,
  .product__gird__list .product__gird .productions .product__price__all .product__price__new,
  .product__gird__list .product__gird .productions .product__price__all .product__price__old {
    font-size: 16px;
    line-height: 20px;
  }
  .product__gird__list .product__gird .productions:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .product__gird__list .product__gird .productions__gird__first {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .product__gird__list .product__gird .productions__gird__last {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .product__gird__list .product__gird .productions .voucher__sell, .product__gird__list .product__gird .productions .voucher__new,
  .product__gird__list .product__gird .productions .voucher .product__voucher {
    font-size: 14px;
    margin-left: 6px;
  }
  .product__gird__list .product__gird .productions .voucher .product__voucher {
    padding: 6px;
  }
}
.slider__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 52px;
}
.slider__title h1 {
  font-family: "Lora";
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
}

.slider {
  margin: 0 13%;
}

.splide__slide .product__slider {
  cursor: pointer;
}
.splide__slide .product__slider .product__image {
  width: 100%;
}
.splide__slide .category {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  margin-top: 10px;
}
.splide__slide .product__name {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 25.88px;
  text-align: left;
  margin: 5px 0;
}
.splide__slide .product__price__all {
  display: flex;
  gap: 10px;
}
.splide__slide .product__price__all .product__price__new {
  color: red;
}
.splide__slide .product__price__all .product__price__old {
  text-decoration: line-through;
}
.splide__slide .product__price__all .product__price,
.splide__slide .product__price__all .product__price__new,
.splide__slide .product__price__all .product__price__old {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.5px;
  text-align: left;
}
.splide__slide .voucher {
  position: absolute;
  top: 2%;
  left: 3%;
  color: #ffffff;
  font-size: small;
  font-family: Poppins;
  text-align: start;
}
.splide__slide .voucher__sell {
  background: #000000;
  padding: 2px 12px;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  margin: 0;
}
.splide__slide .voucher__new {
  background: #054e4a;
  padding: 2px 10px;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  display: inline-flex;
}
.splide__slide .voucher .product__voucher {
  position: absolute;
  top: 8px;
  background: #a42003;
  display: inline;
  padding: 10px;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
}

@media (max-width: 768px) {
  .slider {
    margin: 0 1%;
  }
}
@media (max-width: 391px) {
  .slider__title h1 {
    font-size: 28px;
    line-height: 8px;
  }
  .slider {
    margin: 0 1%;
  }
}
.marquee-container {
  width: 100%; /* hoặc chỉnh độ rộng mong muốn */
  overflow: hidden;
  white-space: nowrap;
  background-color: #ffffff;
  padding: 26px 0;
  box-sizing: border-box;
  margin: 80px 0;
  margin-bottom: 70px;
  /* Thiết lập chữ và hiệu ứng */
}
.marquee-container .marquee-text {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 20s linear infinite;
  color: #cccccc;
  font-family: Lora;
  font-size: 74px;
  font-weight: 400;
  line-height: 90px;
  text-align: left;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.wrapper__block {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Poppins";
  margin: 0 13%;
  gap: 5%;
}
.wrapper__block .wrapper__image,
.wrapper__block .wrapper__title {
  flex: 1;
  height: 560px;
}
.wrapper__block .wrapper__image img {
  width: 100%;
  height: 560px;
}
.wrapper__block .wrapper__title {
  background: #6e331a;
  color: #ffffff;
}
.wrapper__block .wrapper__title .title__header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.wrapper__block .wrapper__title .title__header p {
  margin-top: 30px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}
.wrapper__block .wrapper__title .title__body__primary {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.wrapper__block .wrapper__title .title__body__primary h1 {
  margin-top: 115px;
  width: 240px;
  font-family: Lora;
  font-size: 56px;
  font-weight: 400;
  line-height: 80px;
  text-align: center;
}
.wrapper__block .wrapper__title .title__body__text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.wrapper__block .wrapper__title .title__body__text p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 12px;
  width: 240px;
}

@media (max-width: 1600px) {
  .wrapper__block {
    margin: 0 13%;
    gap: 4%;
    height: 500px;
  }
  .wrapper__block .wrapper__image img {
    height: 500px;
  }
  .wrapper__block .wrapper__title,
  .wrapper__block .wrapper__image {
    height: 500px;
  }
}
@media (max-width: 1400px) {
  .wrapper__block {
    margin: 0 13%;
    gap: 3%;
    height: 400px;
  }
  .wrapper__block .wrapper__image img {
    height: 400px;
  }
  .wrapper__block .wrapper__title,
  .wrapper__block .wrapper__image {
    height: 400px;
  }
  .wrapper__block .wrapper__title .title__header p {
    margin-top: 30px;
    font-size: 14px;
  }
  .wrapper__block .wrapper__title .title__body__primary h1 {
    margin-top: 80px;
    width: 210px;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
  }
  .wrapper__block .wrapper__title .title__body__text p {
    font-size: 12px;
    margin-top: 12px;
    width: 240px;
  }
}
@media (max-width: 1200px) {
  .wrapper__block {
    margin: 0 13%;
    gap: 2%;
    height: 350px;
  }
  .wrapper__block .wrapper__image img {
    height: 350px;
  }
  .wrapper__block .wrapper__title,
  .wrapper__block .wrapper__image {
    height: 350px;
  }
  .wrapper__block .wrapper__title .title__header p {
    margin-top: 26px;
    font-size: 10px;
  }
  .wrapper__block .wrapper__title .title__body__primary h1 {
    margin-top: 70px;
    width: 180px;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }
  .wrapper__block .wrapper__title .title__body__text p {
    font-size: 10px;
    margin-top: 12px;
    width: 240px;
  }
}
@media (max-width: 1000px) {
  .wrapper__block {
    margin: 0 13%;
    gap: 1%;
    height: 300px;
  }
  .wrapper__block .wrapper__image img {
    height: 300px;
  }
  .wrapper__block .wrapper__title,
  .wrapper__block .wrapper__image {
    height: 300px;
  }
  .wrapper__block .wrapper__title .title__header p {
    margin-top: 22px;
    font-size: 10px;
  }
  .wrapper__block .wrapper__title .title__body__primary h1 {
    margin-top: 60px;
    width: 170px;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
  }
  .wrapper__block .wrapper__title .title__body__text p {
    font-size: 8px;
    margin-top: 12px;
    width: 200px;
    line-height: 14px;
  }
}
@media (max-width: 768px) {
  .wrapper__block {
    all: unset;
  }
  .wrapper__block .wrapper__image {
    all: unset;
  }
  .wrapper__block .wrapper__image img {
    all: unset;
  }
  .wrapper__block .wrapper__title {
    all: unset;
  }
  .wrapper__block .wrapper__title .title__body h1,
  .wrapper__block .wrapper__title .title__header h1 {
    all: unset;
  }
  .wrapper__block .wrapper__title .title__body p,
  .wrapper__block .wrapper__title .title__header p {
    all: unset;
  }
  .wrapper__block {
    display: flex;
    flex-direction: column;
    margin: 0 1%;
    margin: 0px 4%;
  }
  .wrapper__block .wrapper__image img {
    width: 100%;
  }
  .wrapper__block .wrapper__title {
    background: #6e331a;
    color: #ffffff;
    margin-bottom: 10px;
    height: 800px;
  }
  .wrapper__block .wrapper__title .title__header p {
    font-size: 24px;
    margin: 80px 20px;
  }
  .wrapper__block .wrapper__title .title__body__primary h1 {
    font-size: 72px;
    margin: 80px;
    line-height: 80px;
    width: 300px;
    font-weight: 600;
  }
  .wrapper__block .wrapper__title .title__body__text p {
    font-size: 20px;
    margin: 160px 20px;
    width: 343px;
  }
}
@media (max-width: 550px) {
  .wrapper__block {
    margin: 0px 4%;
    gap: 20px;
  }
  .wrapper__block .wrapper__title {
    height: 475px;
  }
  .wrapper__block .wrapper__title .title__header p {
    font-size: 16px;
    margin: 24px 17px;
  }
  .wrapper__block .wrapper__title .title__body__primary h1 {
    font-size: 45px;
    margin: 70px;
    line-height: 62px;
    width: 200px;
    font-family: Lora;
    margin-bottom: 16px;
  }
  .wrapper__block .wrapper__title .title__body__text p {
    font-size: 14px;
    margin: 0px 2px;
    width: 257px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body {
  font-family: "Poppins";
}

/*# sourceMappingURL=style.css.map */
