.banner-shopify {
  height: 100%;
}
.banner__heading-style-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__heading-style {
  font-family: Lora;
  font-size: 56.38px;
  font-weight: 400;
  line-height: 80px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 470px;
}
.banner__text-style {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 670px;
  margin-top: 24px;
}

.blog-banner__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 13%;
  height: 550px;
  &__date {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: $color-white;
  }
  &__title {
    color: $color-white;
    font-family: Lora;
    font-size: 34.38px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 460px;
    margin: 20px 0 20px 0;
  }
  a {
    width: 172px;
    height: 48px;
    background-color: $color-white;
    color: $color-black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

@media (max-width: 1200px) {
  .banner__heading-style {
    font-size: 40px;
    width: auto;
    line-height: 60px;
  }
  .banner__text-style {
    font-size: 15px;
    width: auto;
    margin-top: 24px;
  }
  .blog-banner__content {
    margin: 0 13%;
    height: 400px;
    &__date {
      font-size: 15px;
    }
    &__title {
      font-size: 34.38px;
    }
  }
}

@media (max-width: 990px) {
  .blog-banner__content {
    margin: 0;

    &__date {
      font-size: 15px;
    }
    &__title {
      width: auto;
      font-size: 28px;
    }
  }
}
