@import "../base/mixins";
@import "../base/variables";

.banner {
  height: 1080px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include center-flex;
  margin-bottom: 20px;
  position: relative;
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 1;
  }
  &__content {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    font-family: "Lora";
    margin-top: 30px;
    h1 {
      font-family: "Lora";
      font-size: 72px;
      font-weight: 400;
      color: $color-white;
      width: 360px;
      margin: 0 20px;
    }
    h4 {
      color: $color-white;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      margin-left: 20px;
      margin-top: 24px;
      font-family: Poppins;
    }
    &__title {
      cursor: pointer;
      margin-top: 30px;
      p {
        display: inline;
        border-bottom: 2px solid $color-white;
        font-size: 16px;
        color: $color-white;
        font-family: Poppins;
      }
    }
  }
}
.banner--top-left {
  @include flex-top-left;
}

.banner--top-center {
  @include flex-top-center;
}

.banner--top-right {
  @include flex-top-right;
}

.banner--middle-left {
  @include flex-middle-left;
}

.banner--middle-center {
  @include flex-middle-center;
}

.banner--middle-right {
  @include flex-middle-right;
}

.banner--bottom-left {
  @include flex-bottom-left;
}

.banner--bottom-center {
  @include flex-bottom-center;
}

.banner--bottom-right {
  @include flex-bottom-right;
}

@media (max-width: 1919px) {
  .banner {
    height: 900px;
    &__content h1 {
      font-size: 62px;
      line-height: 84px;
    }
  }
}

@media (max-width: 1440px) {
  .banner {
    height: 800px;
    &__content h1 {
      font-size: 60px;
    }
  }
}

@media (max-width: 768px) {
  .banner {
    height: 700px;
    &__content h1 {
      font-size: 56px;
      line-height: 80px;
    }
  }
}

@media (max-width: 391px) {
  .banner {
    height: 600px;
    &__content {
      margin: 3px 0 0px 0;
      h1 {
        font-size: 56px;
        line-height: 76.8px;
        margin-bottom: -8px;
      }
      h4 {
        font-size: 18px;
        line-height: 30px;
        margin: 20px;
        margin-left: 22px;
      }
      &__title {
        margin: 0;
      }
    }
  }
}
