@import "../base/mixins";
@import "../base/variables";

.form-all-wrapper {
  @include center-flex;
  flex-direction: column;
}

.form {
  margin-top: 100px;
  background: $color-form;
  @include center-flex;
  flex-direction: column;
  &__title {
    .title {
      font-family: Lora;
      font-size: 36px;
      font-weight: 400;
      line-height: 48px;
      text-align: center;
      margin: 100px 0 50px 0;
      width: 450px;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 13%;
    &__input {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 50px;
      .input__name,
      .input__email,
      .input__address,
      .input__phone {
        margin: 14px 0 0 0;
        input {
          @include input-style;
        }
        label {
          display: flex;
          margin-bottom: 10px;
        }
        span {
          display: flex;
          margin: 10px 2px;
          font-size: 16px;
          font-family: Poppins;
        }
      }
    }
    &__message {
      text-align: start;
      margin-top: 14px;
      label {
        display: flex;
        margin-bottom: 6px;
      }
      textarea {
        width: 100%;
        height: 180px;
        padding: 16px;
        border: 1px solid #ccc;
        resize: vertical;
        font-size: 16px;
        font-family: "Poppins";
      }
    }
    &__button {
      cursor: pointer;
      margin-top: 36px;
      button {
        cursor: pointer;
        color: $color-white;
        background: $color-black;
        padding: 12px 56px;
        font-family: Lora;
        font-size: 16px;
        font-weight: 500;
      }
      p {
        margin-top: 20px;
        margin-bottom: 54px;
      }
    }
  }
}

.invalid {
  color: $color-red;
}
.invalid-input {
  border: 2px solid $color-red;
}

@media (max-width: 1600px) {
  .form {
    &__title {
      font-size: 32px;
      line-height: 44px;
      margin: 90px 0 50px 0;
    }
    &__wrapper {
      &__input {
        column-gap: 40px;
        .input__name,
        .input__email,
        .input__address,
        .input__phone {
          margin: 12px 0 0 0;
          input {
            width: 600px;
            height: 50px;
          }
        }
      }
      &__message {
        margin-top: 12px;
        textarea {
          height: 160px;
          padding: 16px;
          font-size: 16px;
        }
      }
      &__button {
        margin-top: 36px;
        button {
          padding: 12px 52px;
          font-size: 14px;
        }
        p {
          margin-top: 18px;
          margin-bottom: 50px;
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .form {
    &__title {
      font-size: 30px;
      line-height: 44px;
      margin: 90px 0 50px 0;
    }
    &__wrapper {
      &__input {
        column-gap: 40px;
        .input__name,
        .input__email,
        .input__address,
        .input__phone {
          margin: 12px 0 0 0;
          input {
            width: 500px;
            height: 40px;
            font-size: 14px;
          }
        }
      }
      &__message {
        margin-top: 12px;
        textarea {
          height: 140px;
          padding: 16px;
          font-size: 16px;
        }
      }
      &__button {
        margin-top: 36px;
        button {
          padding: 12px 52px;
          font-size: 14px;
        }
        p {
          margin-top: 18px;
          margin-bottom: 50px;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .form {
    &__title {
      font-size: 28px;
      line-height: 44px;
      margin: 90px 0 50px 0;
    }
    &__wrapper {
      &__input {
        column-gap: 30px;
        .input__name,
        .input__email,
        .input__address,
        .input__phone {
          margin: 10px 0 0 0;
          input {
            width: 400px;
            height: 30px;
            font-size: 12px;
          }
        }
      }
      &__message {
        margin-top: 12px;
        textarea {
          height: 140px;
          padding: 16px;
          font-size: 16px;
        }
      }
      &__button {
        margin-top: 32px;
        button {
          padding: 10px 50px;
          font-size: 12px;
        }
        p {
          margin-top: 16px;
          margin-bottom: 46px;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .form {
    &__wrapper {
      &__input {
        column-gap: 20px;
        .input__name,
        .input__email,
        .input__address,
        .input__phone {
          margin: 10px 0 0 0;
          input {
            width: 300px;
            height: 30px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .form {
    &__title {
      .title {
        font-size: 36px;
        width: 450px;
      }
    }
    &__wrapper {
      &__input {
        display: grid;
        grid-template-columns: 1fr;
        .input__name,
        .input__email,
        .input__address,
        .input__phone {
          margin: 14px 0 0 0;
          input {
            width: 500px;
            height: 50px;
          }
          p {
            text-align: start;
            margin-bottom: 10px;
          }
        }
      }
      &__message {
        p {
          margin-bottom: 4px;
        }
        textarea {
          height: 180px;
        }
      }
    }
  }
}

@media (max-width: 520px) {
  .form {
    &__title {
      .title {
        font-size: 32px;
        width: 400px;
      }
    }
    &__wrapper {
      &__input {
        display: grid;
        grid-template-columns: 1fr;
        .input__name,
        .input__email,
        .input__address,
        .input__phone {
          margin: 14px 0 0 0;
          input {
            width: 350px;
            height: 50px;
          }
        }
      }
      &__message {
        p {
          margin-bottom: 4px;
        }
      }
    }
  }
}

@media (max-width: 391px) {
  .form {
    &__title {
      .title {
        margin-top: 50px;
        font-size: 28px;
        width: 360px;
        line-height: 40px;
        margin-bottom: 5 0px;
      }
    }
    &__wrapper {
      &__input {
        display: grid;
        grid-template-columns: 1fr;
        .input__name,
        .input__email,
        .input__address,
        .input__phone {
          margin: -10px 0 0 0;
          input {
            width: 356px;
            height: 46px;
            font-size: 16px;
          }
        }
      }
      &__message {
        textarea {
          margin-bottom: 4px;
          height: 210px;
        }
      }
      &__button {
        button {
          padding: 17px 136px;
          font-size: 12px;
        }
        p {
          margin-top: 16px;
          margin-bottom: 64px;
        }
      }
    }
  }
}
