@import "../base/mixins";
@import "../base/variables";

.contact__shop {
  background: $color-contact;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 752px;
  margin-top: 80px;
  &__left {
    display: flex;
    position: relative;
    .image__contact_1 {
      width: 310px;
      height: 310px;
      position: absolute;
      top: 7%;
      left: 44%;
    }
    .image__contact_1:hover {
      cursor: pointer;
      transform: scale(0.95);
      animation: fadeIn 0.5s ease;
    }
    .image__contact_2 {
      width: 180px;
      height: 180px;
      position: absolute;
      top: 39%;
      left: 34%;
    }
    .image__contact_2:hover {
      cursor: pointer;
      transform: scale(0.95);
      animation: fadeIn 0.5s ease;
    }
    .image__contact_3 {
      width: 220px;
      height: 220px;
      position: absolute;
      top: 60%;
      left: 67%;
    }
    .image__contact_3:hover {
      cursor: pointer;
      transform: scale(0.95);
      animation: fadeIn 0.5s ease;
    }
  }
  &__between {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 38% 0px 38%;

    .contact__body {
      width: 380px;
      display: flex;
      flex-direction: column;
      .contact__tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
          font-family: Poppins;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          text-align: center;
          width: 160px;
        }
        h3 {
          font-family: Lora;
          font-size: 32px;
          font-weight: 400;
          line-height: 56px;
          text-align: center;
          margin: 20px 0;
        }
      }
      .contact__btn {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        button {
          cursor: pointer;
          padding: 12px 46px;
        }
      }
    }
  }
  &__right {
    display: flex;
    position: relative;
    .image__contact_4 {
      width: 330px;
      height: 330px;
      top: 9%;
      left: 14%;
      position: absolute;
    }
    .image__contact_4:hover {
      cursor: pointer;
      transform: scale(0.95);
      animation: fadeIn 0.5s ease;
    }

    .image__contact_5 {
      width: 250px;
      height: 250px;
      position: absolute;
      top: 54%;
      left: -2%;
    }
    .image__contact_5:hover {
      cursor: pointer;
      transform: scale(0.95);
      animation: fadeIn 0.5s ease;
    }
  }
}

@media (max-width: 1600px) {
  .contact__shop {
    height: 752px;
    margin-top: 60px;
    &__left {
      .image__contact_1 {
        width: 280px;
        height: 280px;
        top: 9%;
        left: 42%;
      }
      .image__contact_2 {
        width: 170px;
        height: 170px;
        top: 38%;
        left: 33%;
      }
      .image__contact_3 {
        width: 190px;
        height: 190px;
        top: 58%;
        left: 69%;
      }
    }
    &__between {
      .contact__body {
        width: 380px;
        .contact__tile {
          span {
            font-size: 16px;
            line-height: 24px;
            width: 160px;
          }
          h3 {
            font-size: 32px;
            line-height: 56px;
            margin: 20px 0;
          }
        }
        .contact__btn {
          margin-top: 20px;
          button {
            padding: 12px 46px;
          }
        }
      }
    }
    &__right {
      .image__contact_4 {
        width: 300px;
        height: 300px;
        top: 9%;
        left: 14%;
      }

      .image__contact_5 {
        width: 230px;
        height: 230px;
        top: 54%;
        left: -2%;
      }
    }
  }
}

@media (max-width: 1400px) {
  .contact__shop {
    height: 600px;
    margin-top: 60px;
    &__left {
      .image__contact_1 {
        width: 240px;
        height: 240px;
        top: 9%;
        left: 42%;
      }
      .image__contact_2 {
        width: 150px;
        height: 150px;
        top: 35%;
        left: 30%;
      }
      .image__contact_3 {
        width: 170px;
        height: 170px;
        top: 53%;
        left: 65%;
      }
    }
    &__between {
      .contact__body {
        width: 380px;
        .contact__tile {
          span {
            font-size: 14px;
            line-height: 20px;
            width: 140px;
          }
          h3 {
            font-size: 30px;
            line-height: 50px;
            margin: 20px 0;
          }
        }
        .contact__btn {
          margin-top: 20px;
          button {
            padding: 12px 46px;
          }
        }
      }
    }
    &__right {
      .image__contact_4 {
        width: 270px;
        height: 270px;
        top: 9%;
        left: 18%;
      }

      .image__contact_5 {
        width: 200px;
        height: 200px;
        top: 56%;
        left: 4%;
      }
    }
  }
}

@media (max-width: 1200px) {
  .contact__shop {
    height: 500px;
    margin-top: 60px;
    &__left {
      .image__contact_1 {
        width: 200px;
        height: 200px;
        top: 8%;
        left: 38%;
      }
      .image__contact_2 {
        width: 100px;
        height: 100px;
        top: 40%;
        left: 25%;
      }
      .image__contact_3 {
        width: 100px;
        height: 100px;
        top: 53%;
        left: 70%;
      }
    }
    &__between {
      .contact__body {
        width: 380px;
        .contact__tile {
          span {
            font-size: 12px;
            line-height: 20px;
            width: 140px;
          }
          h3 {
            font-size: 20px;
            line-height: 30px;
            margin: 20px 0;
            width: 200px;
          }
        }
        .contact__btn {
          margin-top: 20px;
          button {
            padding: 10px 40px;
          }
        }
      }
    }
    &__right {
      .image__contact_4 {
        width: 220px;
        height: 220px;
        top: 9%;
        left: 10%;
      }

      .image__contact_5 {
        width: 120px;
        height: 120px;
        top: 56%;
        left: 8%;
      }
    }
  }
}

@media (max-width: 900px) {
  .contact__shop {
    height: 400px;
    margin-top: 60px;
    &__left {
      .image__contact_1 {
        width: 180px;
        height: 180px;
        top: 8%;
        left: 38%;
      }
      .image__contact_2 {
        width: 100px;
        height: 100px;
        top: 40%;
        left: 25%;
      }
      .image__contact_3 {
        width: 100px;
        height: 100px;
        top: 54%;
        left: 76%;
      }
    }
    &__between {
      .contact__body {
        width: 380px;
        .contact__tile {
          span {
            font-size: 12px;
            line-height: 20px;
            width: 140px;
          }
          h3 {
            font-size: 20px;
            line-height: 30px;
            margin: 20px 0;
            width: 200px;
          }
        }
        .contact__btn {
          margin-top: 20px;
          button {
            padding: 10px 40px;
          }
        }
      }
    }
    &__right {
      .image__contact_4 {
        width: 180px;
        height: 180px;
        top: 9%;
        left: 2%;
      }

      .image__contact_5 {
        width: 120px;
        height: 120px;
        top: 48%;
        left: -2%;
      }
    }
  }
}

@media (max-width: 768px) {
  .contact__shop {
    display: grid;
    grid-template-columns: 1fr;
    height: 800px;
    &__left {
      .image__contact_1 {
        width: 180px;
        height: 180px;
        top: 10%;
        left: 30%;
      }
      .image__contact_2 {
        width: 140px;
        height: 140px;
        top: 62%;
        left: 10%;
      }

      .image__contact_3 {
        width: 140px;
        height: 140px;
        top: 50%;
        left: 65%;
      }
    }
    &__between {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      .contact__body {
        .contact__tile {
          span {
            margin: 20px 0;
            width: 100%;
          }
        }
        .contact__btn {
          button {
            padding: 6px 30px;
            border: 1px solid #d1ceca;
            background: #f6f2ee;
          }
        }
      }
    }
    &__right {
      .image__contact_4 {
        width: 160px;
        height: 160px;
        top: -30%;
        left: 20%;
      }
      .image__contact_5 {
        width: 140px;
        height: 140px;
        top: -25%;
        left: 60%;
      }
    }
  }
}

@media (max-width: 500px) {
  .contact__shop {
    display: grid;
    grid-template-columns: 1fr;
    height: 800px;
    &__left {
      .image__contact_1 {
        width: 180px;
        height: 180px;
        top: 10%;
        left: 30%;
      }
      .image__contact_2 {
        width: 120px;
        height: 120px;
        top: 60%;
        left: 10%;
      }

      .image__contact_3 {
        width: 120px;
        height: 120px;
        top: 72%;
        left: 68%;
      }
    }
    &__between {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      .contact__body {
        .contact__tile {
          span {
            margin: 20px 0;
            width: 100%;
          }
        }
        .contact__btn {
          button {
            padding: 6px 30px;
            border: 1px solid #d1ceca;
            background: #f6f2ee;
          }
        }
      }
    }
    &__right {
      .image__contact_4 {
        width: 160px;
        height: 160px;
        top: -30%;
        left: 10%;
      }
      .image__contact_5 {
        width: 140px;
        height: 140px;
        top: -25%;
        left: 60%;
      }
    }
  }
}

@media (max-width: 391px) {
  .contact__shop {
    margin-top: 40px;
    height: 700px;
    &__left {
      .image__contact_1 {
        width: 110px;
        height: 110px;
        top: 25%;
        left: 29%;
      }
      .image__contact_2 {
        width: 110px;
        height: 110px;
        top: 78%;
        left: 4%;
      }

      .image__contact_3 {
        width: 110px;
        height: 110px;
        top: 83%;
        left: 68%;
      }
    }
    &__between {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 388px;
      margin: 0;
      .contact__body {
        .contact__tile {
          margin-top: 52px;
          span {
            margin: 0px 0px 20px;
            width: 100%;
            font-size: 16px;
          }
          h3 {
            font-size: 32px;
            line-height: 56px;
            margin: 0px 0 0px;
            width: 290px;
          }
        }
        .contact__btn {
          button {
            padding: 16px 46px;
            border: 1px solid #d1ceca;
            background: #f6f2ee;
          }
        }
      }
    }
    &__right {
      .image__contact_4 {
        width: 110px;
        height: 110px;
        top: -20%;
        left: 10%;
      }
      .image__contact_5 {
        width: 110px;
        height: 110px;
        top: -28%;
        left: 61%;
      }
    }
  }
}
