.featured-product-name {
  font-family: Lora;
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
