@import "../base/mixins";
@import "../base/variables";

.header__information {
  @include space-between;
  width: 100%;
  background: $color-black;
  text-align: center;
  .header__address,
  .header__phone {
    padding: 5px 20px;
    cursor: pointer;
    a {
      color: $color-white;
      text-decoration: none;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .icon__arrow {
    cursor: pointer;
  }
}
.header__logo {
  @include center-flex;
  text-align: center;
  font-size: 32px;
  font-family: "Lora";
  font-weight: 500;
  padding: 1px;
  cursor: pointer;
}

.header__logo--top-left {
  @include flex-top-left;
}

.header__logo--top-center {
  @include flex-top-center;
}

.header__logo--top-right {
  @include flex-top-right;
}

.header__logo--middle-left {
  @include flex-middle-left;
}

.header__logo--middle-center {
  @include flex-middle-center;
}

.header__logo--middle-right {
  @include flex-middle-right;
}

.header__logo--bottom-left {
  @include flex-bottom-left;
}

.header__logo--bottom-center {
  @include flex-bottom-center;
}

.header__logo--bottom-right {
  @include flex-bottom-right;
}
.icon__arrow {
  display: none;
}

.active {
  display: block;
}
.hide {
  display: none;
}
@media (max-width: 1919px) {
  .header__logo {
    font-size: 32px;
  }
}
@media (max-width: 1440px) {
  .header__logo {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .header__logo {
    font-size: 28px;
  }
  .icon__arrow {
    @include icon-arrow;
    margin: 10px;
  }
  .turn__off {
    display: none;
  }
  .turn__on {
    display: block;
  }
  .header__information {
    a {
      font-size: 16px;
    }
  }
}

@media (max-width: 391px) {
  .header__logo {
    font-size: 26px;
  }
  .icon__arrow {
    @include icon-arrow;
    margin: 10px;
  }
  .turn__off {
    display: none;
  }
  .turn__on {
    display: block;
  }
  .header__information {
    a {
      font-size: 14px;
    }
  }
}
