.main-blog-wrapper {
  margin: 0 13%;
}
.card__inner--blogs {
  height: auto;
}

.article-card__info-time {
  margin: 0 0 12px 0;
}

.circle-divider-time {
  font-family: Poppins;
  font-size: 13.5px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.card__heading__title--blogs {
  font-family: Lora;
  font-size: 24.39px;
  font-weight: 400;
  line-height: 38px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.article-card__excerpt-blogs {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.blog-learn-more {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border-bottom: 1px solid #000;
}

.blog-post__tag {
  display: flex;
  justify-content: center;
  margin: 60px 0 40px 0;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  gap: 40px;
}
.blog_tag_name:hover,
.blog_tag_name:focus {
  border-bottom: 1px solid #000;
}
.blog_tag_name.active {
  border-bottom: 1px solid #000;
}

@media (max-width: 990px) {
  .main-blog-wrapper {
    margin: 0 2%;
  }
}
