@import "../base/mixins";
@import "../base/variables";

.popup-cookie-bar {
  background: $background-bar;
  position: fixed;
  width: 100%;
  visibility: hidden;
  opacity: 0; //0
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 1000;
  bottom: 0;
  .cookie-bar-wrapper {
    @include center-flex;
    justify-content: space-between;
    height: 76px;
    .cookie-left {
      margin-left: 20px;
      p {
        font-family: Poppins;
        font-size: 20px;
        font-weight: 400;
        line-height: 56px;
        text-align: center;
      }
    }
    .cookie-right {
      margin-right: 20px;
      button {
        padding: 10px 20px;
        font-weight: 800;
        cursor: pointer;
      }
      .btn-accept {
        color: $color-white;
        background: $color-black;
      }
      .btn-ignore {
        color: $color-black;
        background: $color-white;
      }
    }
  }
}

.popup-cookie-bar.active {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1500px) {
  .popup-cookie-bar {
    .cookie-bar-wrapper {
      height: 70px;
      .cookie-left {
        p {
          font-size: 16px;
          font-weight: 400;
        }
      }
      .cookie-right {
        button {
          padding: 10px 20px;
          font-weight: 800;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .popup-cookie-bar {
    .cookie-bar-wrapper {
      height: 70px;
      .cookie-left {
        p {
          font-size: 16px;
          font-weight: 400;
        }
      }
      .cookie-right {
        button {
          padding: 8px 14px;
          font-weight: 800;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .popup-cookie-bar {
    .cookie-bar-wrapper {
      height: 64px;
      .cookie-left {
        p {
          font-size: 12px;
          font-weight: 400;
        }
      }
      .cookie-right {
        button {
          padding: 6px 12px;
          font-weight: 800;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .popup-cookie-bar {
    .cookie-bar-wrapper {
      flex-direction: column;
      height: 140px;
      .cookie-left {
        p {
          margin-top: 20px;
          font-size: 18px;
          font-weight: 400;
          line-height: 24px;
        }
      }
      .cookie-right {
        button {
          padding: 8px 14px;
          font-weight: 800;
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media (max-width: 390px) {
  .popup-cookie-bar {
    .cookie-bar-wrapper {
      flex-direction: column;
      height: 140px;
      width: 100%;
      .cookie-left {
        p {
          margin-top: 20px;
          font-size: 18px;
          font-weight: 400;
          line-height: 24px;
        }
      }
      .cookie-right {
        button {
          padding: 8px 14px;
          font-weight: 800;
          margin-bottom: 20px;
        }
      }
    }
  }
}
