@import "../base/mixins";
@import "../base/variables";

.product__menu {
  @include space-between;
  margin: 100px 13% 32px;
  &__left,
  &__right {
    margin-top: 0%;
    margin-bottom: 0%;
  }
  &__right {
    margin-right: 0px;
    margin-bottom: 0%;
  }
  &__left h1 {
    font-size: 36px;
    font-family: "Lora";
    font-weight: 400;
    line-height: 48px;
    margin-left: 4px;
  }
  &__right {
    @include center-flex;
    gap: 26px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }
  &__title {
    cursor: pointer;
    font-weight: 400;
    color: black;
  }
  &__title.selected {
    border-bottom: 2px solid #000;
  }
}
.none {
  display: none;
}
/* Khi người dùng click vào liên kết, thêm hiệu ứng gạch chân */
.category-link.active {
  border-bottom: 1px solid #000000;
}

.category-link {
  cursor: pointer;
  padding: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.category-link:hover {
  color: #090909;
}

// menu product
.product__gird__list {
  @include center-flex;
}
.product__gird {
  cursor: pointer;
  margin: 0 13%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
  list-style-type: none;
  .production-item:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  // .production-item:last-child {
  //   grid-column-start: 3;
  //   grid-column-end: 5;
  // }
  .production-item__gird__first {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .production-item__gird__last {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  // .production-item {
  //   .productions:first-child {
  //     grid-column-start: 1;
  //     grid-column-end: 3;
  //   }
  //   .productions__gird__first {
  //     grid-column-start: 1;
  //     grid-column-end: 3;
  //   }
  //   .productions__gird__last {
  //     grid-column-start: 3;
  //     grid-column-end: 5;
  //   }
  // }
}
.product__menu__title.active {
  font-weight: bold;
  text-decoration: underline;
  color: #000;
}

.productions {
  width: 100%;
  position: relative;
  margin-bottom: 12px;
  .product__price__all {
    display: flex;
    gap: 10px;
    .product__price__new {
      color: red;
    }

    .product__price__old {
      text-decoration: line-through;
    }
    .product__price,
    .product__price__new,
    .product__price__old {
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
      line-height: 22.5px;
      text-align: left;
    }
  }
  .product__image {
    width: 98%;
    height: 80%;
    object-fit: cover;
  }
  .category {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin-top: 10px;
  }
  .product__name {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.88px;
    text-align: left;
    margin: 5px 0;
  }
  .voucher {
    position: absolute;
    top: 2%;
    left: 3%;
    color: $color-white;
    font-size: small;
    font-family: Poppins;
    text-align: start;
    &__sell {
      background: $color-black;
      padding: 2px 12px;
      @include font-voucher;
      margin: 0;
    }
    &__new {
      background: $color-green;
      padding: 2px 10px;
      @include font-voucher;
      display: inline-flex;
    }
    .product__voucher {
      position: absolute;
      top: 8px;
      background: $color-red;
      display: inline;
      padding: 10px;
      @include font-voucher;
    }
  }
}

.productions:hover {
  transform: scale(0.95);
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0.8;
    transform: translateY(20px);
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: translateY(40px);
    transform: scale(0.95);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

@media (max-width: 1440px) {
  .product__menu {
    &__left h1 {
      font-size: 30px;
      line-height: 44px;
    }
    &__right {
      gap: 24px;
      font-size: 16px;
    }
    &__title {
      font-size: 14px;
    }
  }
}
@media (max-width: 1200px) {
  .productions {
    margin-bottom: 0;
    .product__image {
      width: 100%;
      height: 70%;
      object-fit: cover;
    }
    .category {
      font-size: 12px;
      line-height: 10px;
      margin-top: 8px;
    }
    .product__name {
      font-size: 14px;
      line-height: 16px;
      margin: 6px 0;
    }
    .product__price__all {
      .product__price,
      .product__price__new,
      .product__price__old {
        font-size: 14px;
        line-height: 20px;
      }
    }
    .voucher {
      &__sell,
      &__new,
      .product__voucher {
        font-size: 10px;
      }
      .product__voucher {
        padding: 6px;
      }
    }
  }
}

@media (max-width: 900px) {
  .product__menu {
    &__left h1 {
      font-size: 20px;
      line-height: 44px;
    }
    &__right {
      gap: 20px;
      font-size: 16px;
    }
    &__title {
      font-size: 12px;
    }
  }
}

@media (max-width: 768px) {
  .product__menu {
    display: flex;
    flex-direction: column;
    &__left h1 {
      font-size: 30px;
      line-height: 42px;
    }
    &__right {
      gap: 20px;
      margin: 20px;
      width: 100%;
      overflow-x: auto;
      gap: 16px;
      margin-top: 22px;
      margin-bottom: 22px;
      display: flex;
      flex-wrap: nowrap;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: thin;
    }
    &__title {
      font-size: 14px;
    }
  }
  .product__gird__list {
    .product__gird {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      margin: 1%;
      .production-item {
        &:first-child {
          grid-column-start: 1;
          grid-column-end: 3;
        }
        &__gird__first {
          grid-column-start: 1;
          grid-column-end: 3;
        }
        &__gird__last {
          grid-column-start: 1;
          grid-column-end: 3;
        }
      }
      .productions {
        .product__image {
          width: 100%;
          height: 80%;
        }
        .voucher {
          &__sell,
          &__new,
          .product__voucher {
            font-size: 16px;
          }
          .product__voucher {
            padding: 6px;
          }
        }
      }
    }
  }
}

@media (max-width: 391px) {
  .product__title__all {
    margin-top: 50px;
  }
  .product__menu {
    margin: 0 2%;
    &__left {
      h1 {
        letter-spacing: 0px;
      }
    }
    &__right {
      width: 100%;
      overflow-x: auto;
      gap: 16px;
      margin-top: 22px;
      margin-bottom: 22px;
      display: flex;
      flex-wrap: nowrap;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: thin;
      span {
        font-size: 16px;
      }
    }
    &__title:last-child {
      display: none;
    }
  }
  .product__gird__list {
    .product__gird {
      margin: 4%;
      .productions {
        margin-bottom: 14px;
        .product__image {
          width: 100%;
          height: 71%;
        }
        .category {
          font-size: 14px;
          line-height: 10px;
          padding-bottom: 10px;
        }
        .product__name {
          font-size: 16px;
          line-height: 16px;
          margin: 14px 0;
        }
        .product__price__all {
          .product__price,
          .product__price__new,
          .product__price__old {
            font-size: 16px;
            line-height: 20px;
          }
        }
        &:first-child {
          grid-column-start: 1;
          grid-column-end: 3;
        }
        &__gird__first {
          grid-column-start: 1;
          grid-column-end: 3;
        }
        &__gird__last {
          grid-column-start: 1;
          grid-column-end: 3;
        }
        .voucher {
          &__sell,
          &__new,
          .product__voucher {
            font-size: 14px;
            margin-left: 6px;
          }
          .product__voucher {
            padding: 6px;
          }
        }
      }
    }
  }
}
