.product-page-cart {
  margin: 0 13%;
}
.slider {
  margin: 0;
}

.product-media-wrapper {
  display: flex;
  flex-direction: row-reverse;
  //   .product-media-image {
  //     width: 150px;
  //     height: 160px;
  //   }

  .product-media-item-left {
    width: 100%;
    height: auto;
  }
  .product-media-item-right {
    // width: 100%;
    // height: auto;
    // button {
    //   display: none;
    // }
    .button-product-media {
      // display: none;
    }
    .product-media-wrapper-right {
      display: flex;
      padding: 0 14px 0 0;
      flex: 1;
      scroll-padding-left: 0.5rem;
      flex-direction: column;
      margin: 0;
      .product-media-image {
        width: 150px;
        height: 160px;
      }
    }
  }
}

.main-product-description {
  span {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.plus-mins-product {
  display: flex;
  .add-product-card {
    width: 100%;
    margin-left: 10px;
  }
}

.form-add-cart {
  margin: 10px 0 0 0;
  display: block;
}

@media (max-width: 1600px) {
  .product-media-wrapper {
    display: flex;
    flex-direction: row-reverse;
    .product-media-item-right {
      .button-product-media {
        // display: none;
      }
      .product-media-wrapper-right {
        .product-media-image {
          width: 120px;
          height: 128px;
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .product-media-wrapper {
    display: flex;
    flex-direction: row-reverse;
    .product-media-item-right {
      .button-product-media {
        // display: none;
      }
      .product-media-wrapper-right {
        .product-media-image {
          width: 100px;
          height: 106px;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .product-media-wrapper {
    display: flex;
    flex-direction: row-reverse;
    .product-media-item-right {
      .button-product-media {
        // display: none;
      }
      .product-media-wrapper-right {
        .product-media-image {
          width: 80px;
          height: 85px;
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .product-page-cart {
    margin: 0 2%;
  }
  .product-media-wrapper {
    display: flex;
    flex-direction: row-reverse;
    .product-media-item-right {
      .button-product-media {
        display: none;
      }
      .product-media-wrapper-right {
        .product-media-image {
          width: 50px;
          height: 55px;
        }
      }
    }
  }
}

@media (max-width: 756px) {
  .product-page-cart {
    margin: 0 2%;
  }
  .product-media-wrapper {
    .product-media-item-left {
      margin: 0;
    }
  }
}
